@charset "UTF-8";
@font-face {
    font-family:'FuturaCondensedExtra';
    src: url(font/Futura\ Condensed\ Extra\ Bold.otf);
    font-weight: lighter;
    font-style: normal;
}
:root{
--font-title:"FuturaCondensedExtra"
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html body{
    width: 100%;
    height: 100%;
    
}
header{
    border-top: 10px solid rgba(214, 214, 214, 0.623);
    border-bottom: 40px solid rgba(214, 214, 214, 0.623);
}
#container{
    display: flex;
    width: 100%;
    padding: 10px 30px;
    justify-content: space-between; /* distribui os itens */
    align-items: center; /* centraliza verticalmente */
    gap: 60px;
}

header nav img{
    background-color: white;
    margin-left: 20px;
}
header nav a{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-weight: bold;
    text-decoration: none;
    color: black;

    
}
a:hover{
    text-decoration: underline;

}

main img{
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    align-content: cover;
    }

main h2 {
    font-family: var(--font-title);
    text-align: center;
    font-variant: small-caps;
    font-size: 46px;
    padding-left: 150px;
    padding-right: 150px;
}
p {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
main .offer{
    font-family:var(--font-title) ;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}
section a{
    padding: 10px;
    background-color: black;
    border-radius:20px;
    color:white;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;

}

#box00{
    text-align: center;
    padding: 3px;
    border-radius: 1px;
    margin-right: 20px;
    text-decoration: none;
}
#quadrado{
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
    width: 100%;
    gap: 20px;
}

#quadrado > div{
    flex: 1; /* cada div ocupa 1/3 do espaço disponível */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.q1{
    background-image: url(imagens/q1.png);
}
.q2{
    background-image: url(imagens/q2.png);

  }
.q3{
    background-image: url(imagens/q3.png);
}
.video-container{

    border: 1.5px solid rgba(238, 234, 234, 0.692);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}
